.bgg{
    background-image: url("https://scontent.ftun15-1.fna.fbcdn.net/v/t1.15752-9/372401495_265642963002344_6354389776752452300_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_ohc=i7_zkxo1Z_AAX8M1RWN&_nc_ht=scontent.ftun15-1.fna&oh=03_AdRloNzxOikwrxpEdzE2trt0djsb0qAVd7dqPMpOQZiH4w&oe=651C958C");
    background-repeat: no-repeat;
    background-size: cover;
}